<table width="100%" style="background-color: white;" border="0">
    <tr>
        <td width="50%">
            <form action="{{path('index_video')}}" method="post" enctype="multipart/form-data">
                <input type="file" name="foto" />
                <input type="submit" value="Upload"/>
            </form>
        </td>
    </tr>
</table>