<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="background-color: white;">
        <table width="100%" border="0">
            <tr>
                <td>
                    {{ include('HomeBundle:Home:board.html.twig') }}
                </td>
            <tr>
                <td>
                    {{ include('HomeBundle:Home:video.html.twig') }}
                </td>
            </tr>
        </table>
                
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="background-color: white;">
        <table width="100%" style="background-color: white;" border="0">
            <tr>
                <td>
                    {{ include('HomeBundle:Home:editClothPiece.html.twig', { 
            form3: add_cloth_type_form_ajax,
            id3: 'add-cloth-type'
            }) }}
                </td>
            </tr>
        </table>
    </div>
</div>