<table width="100%" style="background-color: black;" border="0">
    <tr>
        <td height="600px">
            .
        <td>
            .
        </td>
    <tr>
        <td>
            .
        <td>
            .
        </td>
    <tr>
        <td>
            .
        <td>
            .
        </td>
    </tr>
</table>